<div class="d-flex flex-column gap-3 m-5">

<a class="btn btn-outline-dark" href="<%= new_user_path %>">Add User</a>

<% User.all.each do |user| %>
    <%= render "shared/user_card", user: user %>   
<% end %>
</div>