<div class="container">
    <div>
        <p>Post</p>
        <p><%post.id%></p>
    </div>
    <div>
        <p><%post.title%></p>
    </div>
    <div>
        <div>
            <p>comments:</p><p><%comments_counter%></p>
        </div>
        <div>
            <p>likes:</p><p><%likes_counter%></p>
        </div>
    </div>
</div>