<div class="d-flex flex-column gap-3 m-5">
    <% user = User.find(params[:user_id])  %>
    <% post_id = params[:id] %>

    <% p = Post.where(id: post_id, author_id: user.id) %>

    <% p.each do |post| %>
        <%= render "shared/post_card", post: post , user: user%> 
    <% end %>

    <div class="d-flex flex-column gap-3 m-5">
        <% comments = Comment.where(author_id: user.id , post_id: post_id) %>
        <%= render "shared/comments_list", comments: comments, user: user %> 
    </div>

</div>